<!doctype html>
<html>
  <head>

    <meta charset="utf-8" />
    <title>Dmitiy Ahvatkin</title>
    <link href="../style/style.css" rel="stylesheet">

  </head>
  <body>
<h1 class="zagal1" id="zagal1">Ахваткин Дмитрий</h1>
<h2 class="zagal2">Ученик компании 7bits</h2>
<p class="ser">Адрес проживания | другие детали </br>
Телефон: <a href=”tel:+79237638544” class="ser">
  +7(923) 763-85-44
</a>
|
<a href=”mailto:dmitry92ahv@gmail.com” class="ser">
  dmitry92ahv@gmail.com
</a>

</p>

<hr width="1000" align="left"> <!-- полоса перед таблицей -->





<table>
	<tr>
<td>




<table align="left" width="1000">

  <tr>
  	<td>	
    <td width = "400" class="yach"><!--Столбец 1 -->
    	<img src="../images/photo.jpg" alt = "avatar" height="380" align="top">
		
		<table><td width="180">
		<p class="zagal_na_jelt"> 
		Skills 
		</p>
		</td><td></td></table>

		<div class="standart">Communication </br>
			<img src="../images/skill1.png" alt = "80%" width="300" align="top">
		</div>


		<div class="standart">Creativity </br>
			<img src="../images/skill1.png" alt = "80%" width="300" align="top">
		</div>


		<div class="standart">Teamwork </br>
			<img src="../images/skill1.png" alt = "80%" width="300" align="top">
		</div>


		<div class="standart">Organization </br>
			<img src="../images/skill1.png" alt = "80%" width="300" align="top">
		</div>



		<div class="standart">Leadership </br>
			<img src="../images/skill1.png" alt = "80%" width="300" align="top">
		</div>


		<div class="standart">Teamplayer </br>
			<img src="../images/skill1.png" alt = "80%" width="300" align="top">
		</div>

		<table><td width="180">
		<p class="zagal_na_jelt"> 
		Software 
		</p>
		</td><td></td></table>

		<div class="standart">Photoshop </br>
			<img src="../images/skill1.png" alt = "80%" width="300" align="top">
		</div>


		<div class="standart">Coding / CSS </br>
			<img src="../images/skill1.png" alt = "80%" width="300" align="top">
		</div>

	</td>
    
    <td width = "600" class="yach">
    <!--Столбец 2 -->
		<table><td width="180">
		<p align="top" class="zagal_na_jelt"> 
		About me 
		</p>
		</td><td></td></table>



		<p><span class="jirn">Я Ахваткин Дмитрий</span><span class="standart"> являюсь работником ООО Трнаспроект - Автоматика. Основной мой род деятельности это сборка электронных устройств, печать деталей на 3D принтере, лазерная гравировка, разрабтка электрических и механичесих схем. Так же есть практические навыки работы в Photoshop, CorelDraw и другие программы.</span>
		</p>

		<table><td width="180"><p class="zagal_na_jelt"> 
		Education 
		</p></td><td></td></table>

		<table><td width="180"><p class="jirn_ser" > 
		1999 / 2010 
		</p></td><td>
			<span class="standart">Школа: Первая гимназия СКО, г. Петропавловск.</span></br>
			<span class="jirn">Выпускник.</span>
		</td></table>

		<table><td width="180"><p class="jirn_ser" > 
		2010 / 2015 
		</p></td><td>
			<span class="standart">Университет: ОмГУПС</span></br>
			<span class="jirn">Специалист.</span>
		</td></table>

		<table><td width="180"><p class="jirn_ser" > 
		2017 /  
		</p></td><td>
			<span class="standart">7bits: Курсы разработчиков, ML</span></br>
			<span class="jirn">Ученик.</span>
		</td></table>


		<table><td width="180"><p class="zagal_na_jelt"> 
		Experience 
		</p></td><td></td></table>


		<p class="ser">06.2012 - 06.2015</p>
		<div class="jirn">Электромехник</div>
		<div class="standart">ООО "Транспроект - Автоматика"</div>
		<div><span class="jirn_ser">Описание. </span><span class="ser">Электромонтаж электрооборудования.</span></div>



		<p class="ser">07.2015 - 07.2016</p>
		<div class="jirn">Электронщик</div>
		<div class="standart">ОАО "РЖД"</div>
		<div><span class="jirn_ser">Описание. </span><span class="ser">Ремонт, обслуживание  и проверка приборов безопасности.</span></div>



		<p class="ser">09.2016 - </p>
		<div class="jirn">Электронщик</div>
		<div class="standart">ООО "Транспроект - Автоматика"</div>
		<div><span class="jirn_ser">Описание. </span><span class="ser">Сборка и проверка электронных устройств.</span></div>





		<table><td width="180"><p class="zagal_na_jelt"> 
		Reference 
		</p></td><td></td></table>

		<table>
		<td>
			
		<span class="jirn">New Man1</span></br>
		<span >Должность</span></br>
		<span class="ser">Контакты</span> </br>
			
		</td>
		<td width="150"></td>
		<td>

		<span class="jirn">New Man2</span></br>
		<span >Должность</span></br>
		<span class="ser">Контакты</span> </br>

		</td>
		
		</table>	



		</td>


    </td>
</tr>
</td>
</tr>
</table>







</td>
</tr>

<tr><td height="20">     </td></tr>
<tr>
<td class="zagal_na_jelt">                     </td>
</tr>
<tr><td height="20">     </td></tr>
</table>





  </body>
  
  

</html>
