<!doctype html>
<html>
  <head>

    <meta charset="utf-8" />
    <title>Dmitiy Ahvatkin</title>
    <link href="../style/style.css" rel="stylesheet">

  </head>
  <body>

<section class="header">
	<article class="header-blockw">
		
			<h1 class="header-blockw__zagal">Ахваткин Дмитрий</h1>
			<h2 class="header-block__podzagal"> Ученик компании 7bits</h2>
			<p class="header-block__dopoln"> 
				Адрес проживания | другие детали </br>
				Телефон: <a class="header-block__dopoln" href=”tel:+79237638544”>+7(923) 763-85-44</a>
|				<a class="header-block__dopoln" href=”mailto:dmitry92ahv@gmail.com”>dmitry92ahv@gmail.com</a>
			</p>
		
	</article>


	<div class="background-tonk"></div>
</section>







<section class="content">
	<article class="content-left">

		<img src="../images/photo.jpg" alt = "avatar" class="content-block__avatar">

		<div class="content-block">
			<p class="content-block__zagal">Skills</p>
			<div>Communication</div>
			<div class="content-block__progess"><div class="content-block__bar" style="width: 80%;""></div></div>
			<p></p>
			<div>Creativity </div>
			<div class="content-block__progess"><div class="content-block__bar" style="width: 60%;""></div></div><p></p>
			<div>Teamwork </div>
			<div class="content-block__progess"><div class="content-block__bar" style="width: 90%;""></div></div><p></p>
			<div>Organization</div>
			<div class="content-block__progess"><div class="content-block__bar" style="width: 95%;""></div></div><p></p>
			<div>Leadership </div>
			<div class="content-block__progess"><div class="content-block__bar" style="width: 85%;""></div></div><p></p>
			<div>Teamplayer </div>
			<div class="content-block__progess"><div class="content-block__bar" style="width: 70%;""></div></div><p></p>
		</div>
		<div class="content-block">
			<p class="content-block__zagal">Software</p>
			<div>	Photoshop </div>
			<div class="content-block__progess"><div class="content-block__bar" style="width: 50%;""></div></div><p></p>
			<div>Coding / CSS </div>
			<div class="content-block__progess"><div class="content-block__bar" style="width: 15%;""></div></div><p></p>

		</div>


	</article>




	
	<article class="content-right">
		<div class="content-block">
			<p class="content-block__zagal">About me</p>
			<p><span class="content-block__bold">Я Ахваткин Дмитрий</span><span> являюсь работником ООО Трнаспроект - Автоматика. Основной мой род деятельности это сборка электронных устройств, печать деталей на 3D принтере, лазерная гравировка, разрабтка электрических и механичесих схем. Так же есть практические навыки работы в Photoshop, CorelDraw и другие программы.</span></p>
		</div>
		<div class="content-block">
			<p class="content-block__zagal">Education</p>
			<div class="content-block_education">
				<div class="content-block__educationleft">
				<span>1999 / 2010</span>

				</div>
				<div class="content-block__educationright">
					<div>Школа: Первая гимназия СКО, г. Петропавловск.</div>
					<div class="content-block__bold">Выпускник.</div>
				</div>
			</div>

			<div class="content-block_education">
				<div class="content-block__educationleft">
				<span>2010 / 2015</span>

				</div>
				<div class="content-block__educationright">
					<div>Университет: ОмГУПС</div>
					<div class="content-block__bold">Специалист.</div>
				</div>
			</div>

			<div class="content-block_education">
				<div class="content-block__educationleft">
				<span>2017 /</span>

				</div>
				<div class="content-block__educationright">
					<div>7bits: Курсы разработчиков, ML</div>
					<div class="content-block__bold">Ученик.</div>
				</div>
			</div>


		</div>
		<div class="content-block">
			<p class="content-block__zagal">Experience</p>
			<p class="content-block__gray">06.2012 - 06.2015</p>
			<div class="content-block__bold">Электромехник</div>
			<div>ООО "Транспроект - Автоматика"</div>
			<p>
			<div class="content-block__gray"><span class="content-block__bold">Описание. </span>Электромонтаж электрооборудования.</div></p>
			
			<p class="content-block__gray">07.2015 - 07.2016</p>
			<div class="content-block__bold">Электронщик</div>
			<div>ОАО "РЖД"</div>
			<p>
			<div class="content-block__gray"><span class="content-block__bold">Описание. </span>Ремонт, обслуживание и проверка приборов безопасности.</div></p>

			<p class="content-block__gray">09.2016 -</p>
			<div class="content-block__bold">Электронщик</div>
			<div>ООО "Транспроект - Автоматика"</div>
			<p>
			<div class="content-block__gray"><span class="content-block__bold">Описание. </span>Сборка и проверка электронных устройств.</div></p>
		</div>
		




		<div class="content-block">
			<p class="content-block__zagal">Reference</p>
			<div class="content-block__reference">
				<div class="content-block__bold">New Man1</div>
				<div>Должность</div>
				<div class="content-block__gray">Контакты</div>
				

			</div>
			<div class="content-block__reference"></div>
			<div class="content-block__reference">
				<div class="content-block__bold">New Man2</div>
				<div>Должность</div>
				<div class="content-block__gray">Контакты</div>

			</div>



		</div>


		
	</article>




<div class="background-yellow"></div>

</section>






  </body>
  
  

</html>



